[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
webcam = "*"
gtts = "*"
pillow = "*"
pyserial = "*"
playsound = "*"

[dev-packages]

[requires]
python_version = "3.10"
